/* THIS PAGE NEEDS TO HAVE ZINDEX TO SIT BEHIND THE NAV AND COVER THE HOLE PAGE */

.destinationsPage {
  background: url("../assets/destination/background-destination-desktop.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: white;
  z-index: -1;

  height: 100%;
  display: grid;
  grid-template-rows: [header-start] minmax(33px, 300px) [header-ends present-start] 1fr [present-end];
  grid-template-columns: minmax(33px, 150px) [left-side] 1fr [right-side] minmax(
      33px,
      150px
    );
}

.container {
  grid-row: present-start/present-end;
  grid-column: left-side/right-side;
}

.listWrapper{
  padding: 20px;
}

.menuBoard {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.menuBoard li {
  list-style: none;
  height: 100%;
}

.menuBoard input {
  background: transparent;
  color: white;
  outline: none;
  border: none;
  padding: 20px;
  font-size: 20px;
  cursor:pointer;
}

.menuBoard li:hover{
  border-bottom: 2px solid white;
  animation: none;
}

.destinationComp {
  border: 2px solid white;
}

.destinationComp h1 {
  color: white;
}
