.destinations-page {
  background: url("../assets/destination/background-destination-desktop.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
}
