.homePage {
  background: url("../assets/home/background-home-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: white;
  z-index: -1;
}

.container {
  height: 100%;
  display: grid;
  grid-template-rows: [header-start] 1fr [header-ends present-start] 1fr [present-end];
  grid-template-columns: minmax(33px, 150px) [left-side] 1fr [right-side] minmax(
      33px,
      150px
    );
}

.wrapper{
  grid-row: present-start/present-end;
  grid-column: left-side/right-side;
  width: 50%;
}

.wrapper h1{
  font-size: 3em;
  font-weight: 900;
}

.btnBackgrnd{
  grid-row: present-start/present-end;
  grid-column: left-side/right-side;
  margin-left: auto;
  background-color: white;
  border-radius: 50px;
  width: 120px;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}