.layoutComponent {
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
  z-index: 1;
  padding-top: 120px;
}

.nav img {
  margin-left: 10%;
  width: 70px;
}

/* span {
  border-bottom: 2px solid white;
} */

.children {
  /* height: 100%; */
  /* margin: auto; */
}
