@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Bellefair&display=swap');


.layoutComponent {
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
  z-index: 1;
  padding-top: 120px;
}

.nav img {
  margin-left: 10%;
  width: 70px;
}



.children {
  
}
