.navBar {
  margin-top: 2%;
  /* filter:blur(3px); */
  /* background: rgb(41, 46, 57);
  background: linear-gradient(
    90deg,
    rgba(41, 46, 57, 1) 0%,
    rgba(41, 46, 57, 1) 89%,
    rgba(56, 60, 61, 1) 100%
  ); */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 40%;
}

navBar:after {
  background: transparent;
  filter: blur(3px);
}

.linkBox {
  padding: 10px;
  margin: 40px;
}

.link {
  text-decoration: none;
  cursor: pointer;
  font-weight: 800;
  font-size: 1.2rem;
  color: white;
}
