.navBar {
  background-color: red;
  width: 50%;
  height: 100%;
  margin-left: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.linkBox{
  display: flex;
  align-items: center;
  /* margin-right: 20%; */
  background: blue;
}


.numbers{
  font-size: 2.5rem;
}
.link {
  text-decoration: none;
  /* margin-right: 40%; */
  cursor: pointer;
  font-weight: 800;
  font-size: 2rem;
  color: white;
}
