.tech {
  background-image: url("../../public/assets/technology/background-technology-desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: white;
  z-index: -1;

  display: grid;
  grid-template-columns: 1.7em [bio] 1fr [middle-line] 1fr [photo] 1.7em;
  grid-template-rows: [header-start] 17em [header-end bio-start] 1fr [ bio-end button-start] 10em [button-end];
}
